body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white;
}

canvas {

        background-image: url('deserto_teste.jpg');
        background-size: cover;  /* Faz a imagem cobrir toda a tela */
        background-position: center;

}
